@model List<RegistroDePersona.Models.ViewModels.ListPersonaViewModel>
@{
    ViewBag.Title = "Registro";
}
<h1 style="text-align:center"> <font face=”Arial”>Registro de Personas</font></h1>

<!-- Boton Agregar-->

<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Persona/Nuevo" class="btn btn-primary">Agregar</a>
</div>

<!-- Tabla-->

<div class="row">
    <div class="col-md-12">
        <table class="table">

            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha De Nacimiento</th>
                <th class="text-center"> Acciones </th>
            </tr>
            <!-- Imprimir los datos uno a uno-->

            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.ID</td>
                    <td>@oElemento.Nombre</td>
                    <td>@oElemento.FechaDeNacimiento.ToString("dd/MM/yyyy")</td>

                    <!--Botones para Editar y Eliminar -->

                    <td class="text-center">
                        <a class="btn btn-primary" href="~/Persona/Editar/@oElemento.ID">Editar</a>
                        <a class="btn btn-danger" href="~/Persona/Eliminar/@oElemento.ID">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>