@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>¡Bienvenido!</h1>
    <p class="lead">Bienvenido al Registro de Personas. En la barra de navegación negra que tenemos arriba podrás encontrar los menús para acceder a la tabla o hacer un agregado instantáneo, en caso de ser urgente. No obstante, puedes hacerlo dentro de la tabla. <br> <br> ¿Qué encontrarás?</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tabla de Registro</h2>
        <p>
            La tabla de registro es donde se encuentran las personas que han sido agregadas o registradas en la plataforma. En ella podrás agregar, editar y eliminar dichos datos.
        </p>
        <p><a class="btn btn-default" href="~/Persona/Index">Accede a la tabla &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agregado Instantáneo</h2>
        <p>En caso de necesitar agregar a una persona rápidamente, puedes acceder a este menú sin necesidad de acceder a la tabla.</p>
        <p><a class="btn btn-default" href="~/Persona/Nuevo">Agrega una persona &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Editar y Eliminar</h2>
        <p>Dentro de la tabla tienes la oportunidad de modificar los datos proporcionados en caso de haber cometido un error y necesitar editarlos, o eliminarlos.</p>
        <p><a class="btn btn-default" href="~/Persona/Index">Accede a la tabla &raquo;</a></p>
    </div>
</div>
